* {
    padding: 0;
    margin: 0;
}

.popup-class {
    border-radius: 40px;
    height: 400px;
}

.rojo {
    font-size: 25px;
    color: black;
    font-family: 'Amatic SC';
    font-weight: bold;
}

.colorpacascafe {
    color: white;
    font-size: 15px;
    font-family: 'Dancing Script';
    text-shadow: 0px 0px 5px gold;
}

.contenpresentacion {
    display: flex;
    justify-content: space-between;
}

.contentmapa {
    display: flex;
    justify-content: center;
    background-image: url(./images/boton2.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    gap: 20px;
}
.openCountry{
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-image: linear-gradient(rgba(27, 27, 27, 0.85), rgba(0, 0, 0, 0.755)), url('./images/miradorCountry.avif');
    transition: 0.9s;
    gap: 20px;
}

.none{
    display: none;
}



#svg4{
        filter: drop-shadow(0px 0px 8px skyblue);
}

#svg3{
    filter: drop-shadow(0px 0px 8px skyblue);
}
.closeColombia {
    width: 0;
    transition: 0.8s;
}
#svg2 {

    filter: drop-shadow(-30px -35px 10px black);
    height: 100vh;
    width: 100%;
}

svg path {
    cursor: pointer;
}

.promo h1 {
    font-family: 'Amatic SC';
    font-size: 80px;
    color: white;
}

.promo p {
    font-family: 'Amatic SC';
    font-size: 35px;
    color: white;
}

#promo {
    margin: auto;
}

.promo {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    position: relative;
    z-index: 2;
}

.promo .btnGmap {
    width: 160px;
    height: 40px;
    border-radius: 50px;
    border: none;
    background-color: rgb(255, 123, 0);
    color: white;
    cursor: pointer;
}

#hero {
    min-height: 100vh;
    position: relative;
}
/* 
.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
} */

.capa {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1c1c1d;
    opacity: 0.5;
    mix-blend-mode: overlay;
}

.contButton {
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.ancla {
    text-decoration: none;
}

.RankingPaises {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-right: 15rem;
    margin-top: 3rem;
    font-size: 18px;
}

.contMap {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contMap svg {
    width: 100%;
    height: auto;
}

#contentBoxFiles {
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 50px;
    text-shadow: 0px 2px 10px;

}

.ContbuttonContinentes {
    display: flex;
    justify-content: center;
}

.contentdecriptionP {
    color: white;
}


.body {
    background-size: cover;
    background-image: linear-gradient(rgba(27, 27, 27, 0.95), rgba(0, 0, 0, 0.955)), url(./images//cafefondo2.jpg);
}

.contButtonnextp {
    position: absolute;
}

.contButtonnextp button {
    width: 170px;
    height: 45px;
    border-radius: 50px;
    border: none;
    background-color: rgb(255, 123, 0);
    color: white;
    cursor: pointer;
}

.mapa{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 0;
    height: 100%;
    color: white;
    transition: all 0.5s cubic-bezier(.48, -0.28, 0.41, 1.4);
    overflow: hidden;
    font-family: 'Amatic SC';
}

.mapaOpen{
    top: 0;
    width: 460px;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: 0.8s all;
    font-family: 'Amatic SC';
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    border-radius: 0px 60px 60px 0px;
}






.closeCountry {
    height: 0vh;
}