* {
    padding: 0;
    margin: 0;
}

.popup-class {
    border-radius: 40px;
    height: 400px;
}

.rojo {
    font-size: 25px;
    color: black;
    font-family: 'Amatic SC';
    font-weight: bold;
}
.colorpacascafe {
    color: white;
    font-size: 15px;
    font-family: 'Dancing Script';
}

.contenpresentacion {
    display: flex;
    justify-content: space-between;
}

.contentmapa {
    display: flex;
    justify-content: center;
    background-image: url(./images/boton2.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    gap: 20px;
}
.openCountry{
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-image: linear-gradient(rgba(27, 27, 27, 0.85), rgba(0, 0, 0, 0.755)), url('./images/miradorCountry.avif');
    transition: 0.9s;
    gap: 20px;
}
.openCountryUsa{
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-image: linear-gradient(rgba(27, 27, 27, 0.85), rgba(0, 0, 0, 0.755)), url('./images/eeuufondo.png');
    transition: 0.9s;
    gap: 20px;
}
.openCountryRusia{
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-image: linear-gradient(rgba(27, 27, 27, 0.85), rgba(0, 0, 0, 0.755)), url('./images/alemaniafondo.jpg');
    transition: 0.9s;
    gap: 20px;
}

.openCountryFinlandia{
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-image: linear-gradient(rgba(27, 27, 27, 0.85), rgba(0, 0, 0, 0.755)), url('./images/resFinlandia.jpg');
    transition: 0.9s;
    gap: 20px;
}

.openCountryEspaña{
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-image: linear-gradient(rgba(27, 27, 27, 0.85), rgba(0, 0, 0, 0.755)), url('./images/españafondo.jpg');
    transition: 0.9s;
    gap: 20px;
}

.openCountryItaly{
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-image: linear-gradient(rgba(27, 27, 27, 0.85), rgba(0, 0, 0, 0.755)), url('./images/italiafondo.jpg');
    transition: 0.9s;
    gap: 20px;
}

.openCountryNew_britain {
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-image: linear-gradient(rgba(27, 27, 27, 0.85), rgba(0, 0, 0, 0.755)), url('./images/fondoreinounido.jpg');
    transition: 0.9s;
    gap: 20px;
}

.openCountryNew_canada {
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-image: linear-gradient(rgba(27, 27, 27, 0.85), rgba(0, 0, 0, 0.755)), url('./images/canadafondo.jpg');
    transition: 0.9s;
    gap: 20px;
}

.openCountryNew_Belgium{
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-image: linear-gradient(rgba(27, 27, 27, 0.85), rgba(0, 0, 0, 0.755)), url('./images/belgicafondo.jpg');
    transition: 0.9s;
    gap: 20px;
}

.openCountryNew_Korea{
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-image: linear-gradient(rgba(27, 27, 27, 0.85), rgba(0, 0, 0, 0.755)), url('./images/coreafondo.jpg');
    transition: 0.9s;
    gap: 20px;
}

.openCountryNew_Honshu{
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-image: linear-gradient(rgba(27, 27, 27, 0.85), rgba(0, 0, 0, 0.755)), url('./images/japonfondo.jpg');
    transition: 0.9s;
    gap: 20px;

}



.none{
    display: none;
}

#svg4{
        filter: drop-shadow(0px 0px 8px skyblue);
}

#svg3{
    filter: drop-shadow(0px 0px 8px skyblue);
}

#svg5{
    filter: drop-shadow(0px 0px 8px skyblue);
}

#svg6{
    filter: drop-shadow(0px 0px 8px skyblue);
}

#svg7{
    filter: drop-shadow(0px 0px 8px skyblue);
}

#svg8{
    filter: drop-shadow(0px 0px 8px skyblue);
}

#svg9{
    filter: drop-shadow(0px 0px 8px skyblue);
}

#svg10{
    filter: drop-shadow(0px 0px 8px skyblue);
}

#svg11{
    filter: drop-shadow(0px 0px 8px skyblue);
}

#svg12{
    filter: drop-shadow(0px 0px 8px skyblue);
}

#svg13{
    filter: drop-shadow(0px 0px 8px skyblue);
}

.closeColombia {
    width: 0;
    transition: 0.8s;
}
.closeEspaña {
    width: 0;
    height: 0;
    transition: 0.8s;
}

#svg2 {

    filter: drop-shadow(10px 10px 1px black);
    height: 100vh;
    width: 100%;
}

svg path {
    cursor: pointer;
}

.promo h1 {
    font-family: 'Amatic SC';
    font-size: 80px;
    color: white;
}

.promo p {
    font-family: 'Amatic SC';
    font-size: 35px;
    color: white;
}

#promo {
    margin: auto;
}

.promo {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    position: relative;
    z-index: 2;
}

.promo .btnGmap {
    width: 160px;
    height: 40px;
    border-radius: 50px;
    border: none;
    background-color: rgb(255, 123, 0);
    color: white;
    cursor: pointer;
}

#hero {
    min-height: 100vh;
    position: relative;
}

.capa {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1c1c1d;
    opacity: 0.5;
    mix-blend-mode: overlay;
}


.ancla {
    text-decoration: none;
}

.RankingPaises {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-right: 15rem;
    margin-top: 3rem;
    font-size: 18px;
}

.contMap {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contMap svg {
    width: 100%;
    height: auto;
}

.contentdecriptionP {
    color: white;
}

.body {
    background-size: cover;
    background-image: linear-gradient(rgba(27, 27, 27, 0.95), rgba(0, 0, 0, 0.955)), url(./images//cafefondo2.jpg);
}


.mapa{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 0;
    height: 100%;
    color: white;
    transition: all 0.5s cubic-bezier(.48, -0.28, 0.41, 1.4);
    overflow: hidden;
    font-family: 'Amatic SC';
}

.mapaOpen{
    top: 0;
    width: 460px;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: 0.8s all;
    font-family: 'Amatic SC';
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    border-radius: 0px 60px 60px 0px;
}

.mapaOpenAlemania{
    top: 50px;
    width: 400px;
    height: 80%;
    background-size: cover;
    background-position: center;
    transition: 0.8s all;
    font-family: 'Amatic SC';
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    border-radius: 0px 60px 60px 0px;
    right: 10px;
}

.mapaOpenFinland{
    top: 0;
    width: 460px;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: 0.8s all;
    font-family: 'Amatic SC';
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    border-radius: 0px 60px 60px 0px;
}

.mapaOpenEspaña{
    top: 0;
    width: 460px;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: 0.8s all;
    font-family: 'Amatic SC';
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    border-radius: 0px 60px 60px 0px;
}
.mapaOpenItaly{
    top: 0;
    width: 460px;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: 0.8s all;
    font-family: 'Amatic SC';
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    border-radius: 0px 60px 60px 0px;
}

.mapaOpenReinoUnido{
    top: 0;
    width: 460px;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: 0.8s all;
    font-family: 'Amatic SC';
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    border-radius: 0px 60px 60px 0px;
}

.closeCountry {
    height: 0vh;
}